.dashboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard .dashboard-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start;
}

.dashboard h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.dashboard .left-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

.dashboard .left-content .layer-one {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard .left-content .header-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 14vw;
    padding: 10px !important;
    gap: 0.5rem;
    padding-left: 15px !important;
}

.dashboard .left-content .header-card-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.dashboard .left-content .header-card-item p {
    font-size: 15px;
    font-weight: 400;
}

.dashboard .left-content .header-card-item i {
    padding: 10px;
    border-radius: 10px;
}

.dashboard .left-content .header-card-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .left-content .header-card-count h5 {
    font-size: 30px;
    font-weight: bold;
}

.dashboard .left-content .header-card-count p {
    font-size: 13px;
}

.dashboard .right-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.dashboard .right-content .net-profit {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 20vh;
    overflow: hidden;
}

.dashboard .right-content .net-profit .net-profit-count {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 0.5rem;
    padding-left: 15px;
}

.dashboard .right-content .net-profit h3 {
    font-size: 30px;
    font-weight: bold;
}

.dashboard .right-content .net-profit p {
    font-size: 12px;
}

.dashboard .right-content .net-profit-chart {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -20px;
}

.dashboard .right-content .net-profit-chart .chart-container {
    position: absolute;
    right: 30px;
    height: 30vh;
}

.dashboard .right-content .net-profit-chart .recharts-surface {
    height: 80% !important;
}

.dashboard .left-content .bar-chart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard .left-content .barChart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .left-content .barChart-header h3 {
    font-size: 20px;
    font-weight: bold;
}

.dashboard .left-content .barChart-container {
    height: 25vh;
    width: 100%;
}

.dashboard .right-content .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 249px;
}

.dashboard .right-content .menu .menu-items {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    height: 100%;
}

.dashboard .right-content .menu i {
    padding: 15px;
    border-radius: 50px;
    font-size: 20px;
}

.dashboard .right-content .menu .menu-items h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard .right-content .menu .fa-chevron-right {
    padding: 7px;
    border-radius: 1000px;
    background-color: var(--shadow);
    font-size: 12px;
    cursor: pointer;
}

.dashboard .left-content .data-table .table-body img {
    width: 2vw;
    border-radius: 50px;
}

.dashboard .left-content .data-table {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
}

.dashboard .left-content .data-table .table-body {
    width: 100%;
}

.dashboard .left-content .data-table table {
    border-collapse: collapse;
    width: 100%;
}

.dashboard .left-content .data-table table td {
    text-align: left;
    padding: 8px;
    font-size: 13px;
    border-bottom: 1px solid #2a2a2a;
}

.dashboard .left-content .data-table table td span {
    border-radius: 25px;
    padding: 5px;
}

.dashboard .left-content .data-table table th {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    border-bottom: 1px solid #2a2a2a;
}

.dashboard .left-content .data-table h3 {
    font-size: 20px;
    font-weight: bold;
}

.dashboard .right-content .testimonial {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 368px;
    overflow-y: auto;
}

.dashboard .right-content .testimonial h3 {
    font-size: 20px;
    font-weight: bold;
}

.dashboard .right-content .testimonial .testimonial-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 10px;
    border-bottom: 1px solid #2a2a2a;
}

.dashboard .right-content .testimonial .testimonial-body .testimonial-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard .right-content .testimonial img {
    width: 3vw;
    border-radius: 50px;
}

.dashboard .right-content .testimonial .testimonial-body .ratings {
    color: #FCDC35;
    display: flex;
    gap: 0.3rem;
}

.dashboard .right-content .testimonial .testimonial-body p {
    font-size: 13px;
    color: gray;
}

@media (max-width: 768px) {
    .dashboard {
        width: 100% !important;
    }

    .dashboard .dashboard-wrapper {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .dashboard .layer-one {
        flex-direction: column;
        align-items: center;
    }

    .dashboard .layer-one .header-card {
        width: 100%;
    }

    .dashboard .left-content {
        width: 95%;
    }

    .dashboard .table-body .dda {
        gap: 0.5rem !important;
    }

    .dashboard .left-content .data-table .table-body {
        width: 100% !important;
        overflow-x: auto;
    }

    .dashboard .left-content .data-table table td {
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .dashboard .left-content .data-table table tbody td {
        width: 50vw !important;
    }

    .dashboard .left-content .data-table thead {
        width: 100% !important;
    }

    .dashboard .left-content .data-table .table-body img {
        width: 10vw !important;
    }

    .dashboard .right-content {
        width: 95%;
    }

    .dashboard .right-content .net-profit,
    .dashboard .right-content .menu,
    .dashboard .right-content .testimonial {
        width: 100% !important;
    }

    .dashboard .right-content .net-profit-count h3 {
        font-size: 20px;
    }


    .dashboard .right-content .net-profit-chart .chart-container {
        right: 0;
    }

    .dashboard .right-content .testimonial img {
        width: 10vw !important;
    }
}